<form class="form" name="newMedalForm"
  ng-controller="MedalsController as medalsCtrl"
  ng-submit="medalsCtrl.addMedal(sport.id, medal)"/>

  <h3 class="mbm">New Medal for {{ sport.name }}</h3>

  <div class="form-field">
    <label class="form-label" for="division">Division:</label>
    <input class="form-input" id="division" ng-model="medal.division" required />
  </div>

  <div class="form-field">
    <label class="form-label" for="country">Country:</label>
    <input class="form-input" id="country" ng-model="medal.country" required />
  </div>

  <div class="form-field">
    <label class="form-label" for="year">Year:</label>
    <select class="form-select" id="year" ng-model="medal.year" required>
      <option value="2012">2012</option>
      <option value="2016">2016</option>
    </select>
  </div>

  <input class="btn" type="submit" value="Submit" />

</form>
