<form name="newMedalForm"
  ng-controller="MedalsController as medalsCtrl"
  ng-submit="medalsCtrl.addMedal(sport.id, medal)"/>

  <label>New Medal for {{ sport.name }}</label>

  <p>
    Division: <input ng-model="medal.division" required />
    </br>
    Country: <input ng-model="medal.country" required />
    </br>
    Year:
    <select ng-model="medal.year" required>
      <option value="2012">2012</option>
      <option value="2016">2016</option>
    </select>
    </br>

    <input type="submit" value="Submit" />
  </p>

</form>
